# Feature Engineering in NLP:
### 1. Bag of Words using `CountVectorizer` from sklearn

- What is BoW?
- Steps to create BoW representation of a corpus?
- Applications/uses of BoW?

In [1]:
corpus = ["Matt is a fan of football",
          "He also likes to cook occasionally",
          "He is a nice guy"]
corpus

['Matt is a fan of football',
 'He also likes to cook occasionally',
 'He is a nice guy']

In [2]:
# create an object of countvectorizer class
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
print(type(cv))

<class 'sklearn.feature_extraction.text.CountVectorizer'>

In [3]:
# methods and attributes in CountVectorizer object
print(dir(cv))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_char_ngrams', '_char_wb_ngrams', '_check_feature_names', '_check_n_features', '_check_stop_words_consistency', '_check_vocabulary', '_count_vocab', '_get_param_names', '_get_tags', '_limit_features', '_more_tags', '_repr_html_', '_repr_html_inner', '_repr_mimebundle_', '_sort_features', '_validate_data', '_validate_params', '_validate_vocabulary', '_warn_for_unused_params', '_white_spaces', '_word_ngrams', 'analyzer', 'binary', 'build_analyzer', 'build_preprocessor', 'build_tokenizer', 'decode', 'decode_error', 'dtype', 'encoding', 'fit', 'fit_transform', 'get_feature_names', 'get_feature_names_out', 'get_params', 'get_stop_words', 'input', 'inverse_transform', 'lowercase', 'max_df', 'max_features', 'min_df', 'ngram_range', 'preprocessor', 'set_params', 'stop_words', 'strip_accents', 'token_pattern', 'tokenizer', 'transform', 'vocabulary']

In [4]:
# generate vocabulary dictionary and return a Document Turn Matrix
bow = cv.fit_transform(corpus)

In [5]:
# to print vocabulary
print(cv.vocabulary_)

{'matt': 8, 'is': 6, 'fan': 2, 'of': 11, 'football': 3, 'he': 5, 'also': 0, 'likes': 7, 'to': 12, 'cook': 1, 'occasionally': 10, 'nice': 9, 'guy': 4}

In [6]:
cv.get_feature_names_out()

array(['also', 'cook', 'fan', 'football', 'guy', 'he', 'is', 'likes',
       'matt', 'nice', 'occasionally', 'of', 'to'], dtype=object)

>- Note that single character words are not there in vocabulary

In [7]:
bow.shape

(3, 13)

In [8]:
bow

<3x13 sparse matrix of type '<class 'numpy.int64'>'
	with 15 stored elements in Compressed Sparse Row format>

In [9]:
# since bow is a sparse matrix, so to change it to dense matrix or array, we can use numpy toarray()
bow.toarray()

array([[0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0],
       [1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0]])

In [10]:
bow.todense()

matrix([[0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0],
        [1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1],
        [0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0]])

##### Let save the corpus as DTM of BoW representation

In [11]:
import pandas as pd
dtm = pd.DataFrame(data=bow.todense(), columns=cv.get_feature_names_out())
dtm

,also,cook,fan,football,guy,he,is,likes,matt,nice,occasionally,of,to
0,0,0,1,1,0,0,1,0,1,0,0,1,0
1,1,1,0,0,0,1,0,1,0,0,1,0,1
2,0,0,0,0,1,1,1,0,0,1,0,0,0

In [12]:
import pandas as pd
dtm = pd.DataFrame(data=bow.todense())
dtm

   0   1   2   3   4   5   6   7   8   9   10  11  12
0   0   0   1   1   0   0   1   0   1   0   0   1   0
1   1   1   0   0   0   1   0   1   0   0   1   0   1
2   0   0   0   0   1   1   1   0   0   1   0   0   0

### 2. Term Frequency - Inverse Document Frequency(TF-IDF)

In [13]:
corpus = ["Matt is a fan of football",
          "He also likes to cook occasionally",
          "He is a nice guy"]
corpus

['Matt is a fan of football',
 'He also likes to cook occasionally',
 'He is a nice guy']

In [15]:
# create an object of TfidfVectorizer class
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vec = TfidfVectorizer()
print(type(tfidf_vec))

<class 'sklearn.feature_extraction.text.TfidfVectorizer'>

In [16]:
print(dir(tfidf_vec))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_char_ngrams', '_char_wb_ngrams', '_check_feature_names', '_check_n_features', '_check_params', '_check_stop_words_consistency', '_check_vocabulary', '_count_vocab', '_get_param_names', '_get_tags', '_limit_features', '_more_tags', '_repr_html_', '_repr_html_inner', '_repr_mimebundle_', '_sort_features', '_validate_data', '_validate_params', '_validate_vocabulary', '_warn_for_unused_params', '_white_spaces', '_word_ngrams', 'analyzer', 'binary', 'build_analyzer', 'build_preprocessor', 'build_tokenizer', 'decode', 'decode_error', 'dtype', 'encoding', 'fit', 'fit_transform', 'get_feature_names', 'get_feature_names_out', 'get_params', 'get_stop_words', 'idf_', 'input', 'inverse_transform', 'lowercase', 'max_df', 'max_features', 'min_df', 'ngram_range', 'norm', 'preprocessor', 'set_params', 'smooth_idf', 'stop_words', 'strip_accents', 'sublinear_tf', 'token_pattern', 'tokenizer', 'transform', 'use_idf', 'vocabulary']

In [17]:
# generate vocabulary dictionary and return a Document Turn Matrix having tfidt values
tfidf = tfidf_vec.fit_transform(corpus)

In [18]:
# to print vocabulary
print(tfidf_vec.vocabulary_)

{'matt': 8, 'is': 6, 'fan': 2, 'of': 11, 'football': 3, 'he': 5, 'also': 0, 'likes': 7, 'to': 12, 'cook': 1, 'occasionally': 10, 'nice': 9, 'guy': 4}

In [19]:
print(tfidf_vec.get_feature_names_out())

['also' 'cook' 'fan' 'football' 'guy' 'he' 'is' 'likes' 'matt' 'nice'
 'occasionally' 'of' 'to']

In [20]:
tfidf.shape

(3, 13)

In [21]:
tfidf

<3x13 sparse matrix of type '<class 'numpy.float64'>'
	with 15 stored elements in Compressed Sparse Row format>

In [22]:
# since bow is a sparse matrix, so to change it to dense matrix or array, we can use numpy toarray()
tfidf.toarray()

array([[0.        , 0.        , 0.46735098, 0.46735098, 0.        ,
        0.        , 0.35543247, 0.        , 0.46735098, 0.        ,
        0.        , 0.46735098, 0.        ],
       [0.42339448, 0.42339448, 0.        , 0.        , 0.        ,
        0.32200242, 0.        , 0.42339448, 0.        , 0.        ,
        0.42339448, 0.        , 0.42339448],
       [0.        , 0.        , 0.        , 0.        , 0.5628291 ,
        0.42804604, 0.42804604, 0.        , 0.        , 0.5628291 ,
        0.        , 0.        , 0.        ]])

In [23]:
tfidf.todense()

matrix([[0.        , 0.        , 0.46735098, 0.46735098, 0.        ,
         0.        , 0.35543247, 0.        , 0.46735098, 0.        ,
         0.        , 0.46735098, 0.        ],
        [0.42339448, 0.42339448, 0.        , 0.        , 0.        ,
         0.32200242, 0.        , 0.42339448, 0.        , 0.        ,
         0.42339448, 0.        , 0.42339448],
        [0.        , 0.        , 0.        , 0.        , 0.5628291 ,
         0.42804604, 0.42804604, 0.        , 0.        , 0.5628291 ,
         0.        , 0.        , 0.        ]])

##### Let save the corpus as DTM of TF-IDF representation

In [24]:
import pandas as pd
dtm = pd.DataFrame(data=tfidf.todense(), columns=tfidf_vec.get_feature_names_out())
dtm

,also,cook,fan,football,guy,he,is,likes,matt,nice,occasionally,of,to
0,0.000000,0.000000,0.467351,0.467351,0.000000,0.000000,0.355432,0.000000,0.467351,0.000000,0.000000,0.467351,0.000000
1,0.423394,0.423394,0.000000,0.000000,0.000000,0.322002,0.000000,0.423394,0.000000,0.000000,0.423394,0.000000,0.423394
2,0.000000,0.000000,0.000000,0.000000,0.562829,0.428046,0.428046,0.000000,0.000000,0.562829,0.000000,0.000000,0.000000

## Word embedding Techniques
#### Word2Vec using SpaCy `en_core_web_lg` model

In [4]:
# import and load the language library
import spacy
nlp = spacy.load('en_core_web_lg')

In [13]:
len(nlp.vocab.vectors)

514157

In [ ]:
nlp.vocab.vectors.shape

#### Vectors representation of words

In [5]:
nlp(u'king').vector

array([-1.1296e-01, -4.1865e+00, -1.8453e+00,  3.0781e-01,  2.4956e+00,
        9.6267e-01, -1.8161e+00,  4.4655e+00, -2.8210e+00,  9.7090e-01,
        1.3542e+01,  4.3195e-01, -5.3098e+00,  4.7098e+00,  2.9030e+00,
        1.5588e+00,  6.0064e+00, -3.0345e+00,  1.0626e+00, -7.7197e-01,
       -5.4771e+00, -9.7380e-01, -4.4345e+00,  5.8367e+00,  2.4302e+00,
       -3.9408e+00, -9.1862e-01, -4.9124e+00,  1.4591e+00, -7.2772e-01,
        3.4957e+00, -4.0077e+00, -1.8354e+00, -4.1052e+00,  4.9211e+00,
       -9.7053e-01,  1.9223e+00,  5.2605e+00,  1.6086e+00,  7.1328e-01,
       -1.2146e+00, -1.9869e+00,  8.0265e-01,  2.9298e+00,  7.2985e-01,
       -6.2892e-01, -1.7082e+00,  1.9893e+00,  4.7529e-01,  3.2264e+00,
       -3.9215e+00,  4.6556e+00,  1.3475e+00, -1.0979e+00, -3.0365e+00,
        1.5815e+00,  2.2835e+00, -4.0616e+00,  2.5730e+00,  4.0618e+00,
        9.5438e-01, -6.2563e+00,  5.6463e+00, -3.8933e+00,  4.4076e+00,
        2.0517e+00, -6.6906e+00, -6.9448e+00,  6.0371e+00,  9.3081e-01,
        1.5180e+00,  2.3974e+00, -3.8043e+00, -4.3941e+00, -3.6979e+00,
        2.9489e+00, -8.9735e+00,  9.5273e+00, -6.4149e-01,  2.2565e+00,
       -7.2062e+00, -1.0078e+00, -4.4381e+00,  2.0424e+00, -6.6736e-01,
        4.3500e+00, -1.6199e+00,  3.1975e+00, -1.2065e+00, -6.5684e-01,
        7.5759e-01, -1.6033e+00,  2.5450e+00, -5.4999e+00, -1.8909e+00,
       -1.2985e-02,  2.6703e+00,  5.4623e-01, -2.4504e+00, -4.4326e-01,
       -1.7250e+00,  9.1585e-01,  7.5243e+00, -5.8451e-01,  3.4550e+00,
        3.4817e+00, -4.1599e+00, -5.5125e-01,  2.7681e-02, -3.1687e+00,
       -4.8459e+00,  7.9108e+00, -1.7062e+00, -2.6731e+00,  9.7841e+00,
        3.8851e+00, -3.7930e+00, -5.2979e-01,  6.6191e-01, -9.7232e-01,
       -9.4692e-01, -4.4918e+00,  1.0932e+00, -4.3751e+00,  1.3182e-02,
       -1.0243e+01,  4.7973e+00, -8.7426e+00,  2.5479e+00,  2.3454e+00,
       -6.4140e+00,  7.3875e-01,  5.8565e+00, -2.5964e-01,  1.6558e+00,
       -3.1353e+00, -6.6752e+00,  1.0550e+00,  1.7017e+00, -3.8360e+00,
       -1.1980e+01, -1.3750e+00, -1.9261e+00,  3.1267e+00,  3.2874e+00,
       -2.8928e+00, -1.0893e+01,  4.2848e+00, -4.0890e-02, -5.9565e-01,
       -3.3473e-02,  1.6832e+00,  2.1454e-01,  7.2849e+00,  2.8116e+00,
        2.5708e+00, -3.9823e-01, -1.7257e+00, -6.1063e+00, -4.2618e+00,
       -3.3886e+00, -9.2663e+00,  1.7600e-01, -3.3873e-02, -3.7070e+00,
       -9.1995e+00, -7.1594e+00, -6.0189e-01, -7.2560e-01,  1.5342e+00,
        5.1083e+00,  2.4373e+00, -3.8012e+00, -2.1752e-01,  2.9503e+00,
       -2.5551e+00,  4.9827e-01,  8.6823e-01, -4.3449e+00, -4.3821e+00,
        3.4993e+00, -1.9518e+00,  2.2036e+00, -6.6526e-01,  7.1015e+00,
        3.6784e+00,  2.6251e-01,  1.5379e+00, -8.1950e-01,  1.1065e+00,
        3.3167e+00, -5.9392e+00, -4.0191e+00,  2.6496e+00,  2.3168e+00,
       -8.5681e-02, -3.5059e+00,  1.5915e+00, -3.1831e-01,  6.9366e+00,
        3.8439e+00,  9.4076e-01, -7.5424e+00,  2.7847e+00, -2.2814e+00,
       -4.2487e+00, -2.6604e-01,  3.7954e+00, -3.6526e+00,  4.3823e+00,
       -2.6506e+00,  3.5298e+00,  2.2597e+00,  6.3055e+00, -7.0194e-01,
        4.1565e+00,  8.2306e+00,  5.7675e-01,  4.3596e-01, -8.8400e+00,
       -3.0249e+00,  4.0032e+00,  2.4232e+00,  6.9885e+00, -2.5906e-01,
       -4.2059e+00,  1.2643e+00,  1.0110e+01,  9.7016e-01,  2.2963e+00,
       -1.2802e+00, -1.4447e+00, -3.4386e+00,  5.6555e+00,  3.3911e+00,
        6.9418e+00, -6.8705e+00, -8.1536e-01, -7.2334e+00,  3.0509e+00,
        8.7676e-01,  6.4216e+00, -3.1655e+00, -1.5308e+00, -1.1056e+00,
       -5.0426e+00,  4.6801e+00,  4.6812e+00,  4.0401e+00, -3.7289e-01,
        6.7437e-01, -8.6660e+00, -9.9656e+00,  2.4979e+00, -1.4783e-01,
       -5.6301e+00,  4.5542e+00,  4.8165e+00, -2.2055e-01,  4.5169e+00,
        1.7496e+00,  2.9019e-01, -1.1683e+00, -4.3981e-01,  2.3469e+00,
       -4.3521e-02,  6.3715e-01,  5.8259e-01, -8.5701e+00,  4.6419e+00,
        2.3809e+00, -1.9273e-01, -6.9772e+00,  7.6172e-01, -6.3895e-01,
       -3.3769e+00,  6.1265e+00, -1.9695e+00, -2.3404e+00,  6.6789e+00,
       -3.5265e+00, -3.3883e+00,  6.1372e+00,  4.5550e+00,  6.0957e+00,
       -2.2007e-01,  6.2087e-01,  2.5527e+00, -4.5590e+00, -2.8429e+00,
        2.0645e+00, -1.6221e+00, -2.8171e+00, -2.9680e+00,  1.3651e+00,
        3.6137e+00, -3.2096e-01, -1.9346e+00, -4.8738e+00,  2.5565e+00],
      dtype=float32)

In [6]:
nlp(u'man').vector

array([ -1.2867  ,  -0.7992  ,  -2.092   ,  -0.77679 ,  -2.5057  ,
         2.7123  ,   0.59127 ,   3.2927  ,  -1.5826  ,   6.4515  ,
         1.3452  ,  -1.9711  ,   0.93059 ,   2.8943  ,   4.2116  ,
         1.6     ,   2.6821  ,  -8.4476  ,   2.3301  ,   6.0751  ,
        -0.39937 ,   7.3433  ,  -2.2546  ,  -5.9357  ,   3.6748  ,
        -4.9191  ,  -3.1941  ,  -4.2882  ,   3.4951  ,  -3.1585  ,
         0.69749 ,   0.48132 ,  -0.6059  ,   0.22147 ,  -2.9045  ,
         0.27525 ,  -6.0088  ,   5.0995  ,  -3.367   ,   2.6089  ,
        -5.6207  ,  -2.6762  ,   6.0931  ,   3.1168  ,   3.2641  ,
        -4.0576  ,  -4.435   ,   1.4214  ,   0.59049 ,   8.941   ,
         2.0718  ,   5.3188  ,   2.8866  ,   0.0945  ,  -0.25755 ,
         0.93984 ,   7.9412  ,  -2.2701  ,  -0.65029 ,   1.4952  ,
        -2.5503  ,  -3.7978  ,  -5.853   ,  -1.7847  ,   1.4484  ,
        -3.9781  ,  -1.3968  , -10.793   ,  -4.5546  ,  -0.12542 ,
         4.4986  ,   1.7492  ,   0.50073 ,  -1.1922  ,   2.0405  ,
        -2.1606  ,  -1.5879  ,  10.005   ,   1.5086  ,  -2.7168  ,
        -1.2617  ,  -2.1364  ,   1.2624  ,  -4.1934  ,   0.87337 ,
         2.2741  ,  -1.8725  ,   4.7847  ,  -0.19699 ,   0.49063 ,
         1.676   ,  -7.2461  ,   8.69    ,  -6.7596  ,   1.4258  ,
        -1.3082  ,   0.49451 ,   1.0113  ,   4.8767  ,  -8.7557  ,
         5.7198  ,  -3.9122  ,   2.9248  ,  -3.0411  ,  -4.9627  ,
        -4.62    ,  -3.115   ,   0.41967 ,   0.28133 ,   0.12302 ,
        -4.0926  ,   1.08    ,   0.29599 ,   2.3666  ,   6.8539  ,
         2.5459  ,  -1.9408  ,  -2.887   ,   0.30666 ,   2.3324  ,
        -0.069124,  -3.6478  ,  -8.6565  ,   3.3408  ,  -1.6408  ,
        -4.1846  ,   9.567   ,   0.91341 ,   5.7761  ,   4.2719  ,
         2.5493  ,  -3.2469  ,   7.7067  ,  -3.1646  ,   0.11333 ,
         4.4113  ,  -1.8485  ,   0.41425 ,   2.8236  ,   5.334   ,
       -11.2     ,  -4.0501  ,   3.2927  ,   2.133   ,  -1.3271  ,
        -5.1098  ,  -8.8281  ,   1.9037  ,  -2.9818  ,  -0.65455 ,
         5.1407  ,  -1.3194  ,   0.39336 ,  -0.028404,  -1.1846  ,
         3.8982  ,   4.3978  ,  -1.2017  ,  -7.2908  ,  -3.216   ,
         1.4994  ,  -8.3424  ,  -2.7203  ,   5.5298  ,  -3.8797  ,
        -1.7302  ,   1.7454  ,   1.1949  ,   1.6159  ,   0.80036 ,
         1.5803  ,   6.8892  ,   2.2089  ,   4.0075  ,   4.5673  ,
        -2.8403  ,  -1.5487  ,   2.1561  ,  -3.5629  ,  -6.9477  ,
         3.1076  ,  -4.0521  ,   5.3745  ,   0.56936 ,  -0.87056 ,
         0.46465 ,   2.8535  ,   0.41045 ,   2.2412  ,  -1.7558  ,
         0.7084  ,   3.3363  ,  -0.1505  ,   2.0362  ,  -0.53224 ,
        -3.1957  ,  -0.13258 ,   9.3884  ,  -3.4061  ,   1.4806  ,
         8.1324  ,  -0.59143 ,  -4.9386  ,   1.9289  ,  -5.3873  ,
        -0.85809 ,  -2.5     ,  -8.0451  ,  -4.7292  ,  -7.2426  ,
        -1.4862  ,   0.98244 ,  -4.1294  ,   2.9509  ,  -2.347   ,
         2.4539  ,   0.94502 ,   5.6181  ,  -2.6881  ,  -2.3321  ,
         3.1072  ,  -4.4747  ,   6.6671  ,   7.2443  ,  -1.4954  ,
        -1.5245  ,  -1.8482  ,   2.0941  ,   5.8111  ,  -5.1892  ,
        -2.4437  ,  -3.8453  ,  -1.4752  ,  -2.7762  ,  -3.46    ,
         2.761   ,  -8.0596  ,   4.1683  ,  -3.9315  ,   1.3891  ,
         1.072   ,  -0.285   ,   6.1694  ,  -3.0699  ,   1.1224  ,
        -6.0554  ,   1.9909  ,   0.44939 ,   3.9851  ,   2.0694  ,
         1.086   ,  -4.5804  ,  -3.5417  ,   1.7268  ,  -2.1781  ,
         8.1669  ,   3.8169  ,   6.0367  ,  -2.2298  ,   2.9053  ,
         3.1637  ,   0.33807 ,  -1.534   ,  -0.76545 ,  -0.4528  ,
        -1.8763  ,   2.8293  ,  -1.591   ,  -4.7978  ,   2.5972  ,
         4.0572  ,  -1.3079  ,  -7.5431  ,   1.551   ,  -0.17833 ,
        -3.5017  ,   2.5796  ,   0.80785 ,  -6.4167  ,  12.792   ,
        -6.1626  ,  -4.375   ,   2.9925  ,   2.4804  ,   8.1384  ,
        -1.7968  ,  -2.4738  ,   0.2149  ,  -2.8114  ,  -1.0245  ,
         3.9408  ,  -1.972   ,   0.072622,  -2.5904  ,  -1.439   ,
        -3.3312  ,   4.8377  ,   8.8206  ,   0.18837 ,   2.7038  ],
      dtype=float32)

In [7]:
nlp(u'Ehtisham').vector

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)

## Feature Engineering in ML

#### Imputation using `SimpleImputer()`

In [26]:
from sklearn.impute import SimpleImputer
si = SimpleImputer()
print(dir(si))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_check_feature_names', '_check_n_features', '_concatenate_indicator', '_concatenate_indicator_feature_names_out', '_dense_fit', '_fit_indicator', '_get_param_names', '_get_tags', '_more_tags', '_repr_html_', '_repr_html_inner', '_repr_mimebundle_', '_sparse_fit', '_transform_indicator', '_validate_data', '_validate_input', 'add_indicator', 'copy', 'fill_value', 'fit', 'fit_transform', 'get_feature_names_out', 'get_params', 'inverse_transform', 'missing_values', 'set_params', 'strategy', 'transform', 'verbose']

In [ ]:
# si.strategy()

#### One Hot/Categorical Encoding using `LabelEncoder`

In [27]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()

In [28]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

#### Logarithmic Transformation using `FunctionTransformer`

In [45]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import FunctionTransformer
 
# Load dataset
data = pd.read_csv('datasets/train.csv')
 
# Separate into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    data.drop(['Id', 'SalePrice'], axis=1),
    data['SalePrice'],
    test_size=0.3,
    random_state=0
    )
 
# set up the variable transformer
tf = FunctionTransformer(np.log)
 
# fit the transformer
tf.fit(X_train[['LotArea', 'GrLivArea']])
 
# transform the data
train_t = tf.transform(X_train[['LotArea', 'GrLivArea']])
test_t = tf.transform(X_test[['LotArea', 'GrLivArea']])

In [46]:
X_train.shape,y_train.shape,X_test.shape,y_test.shape

((1022, 79), (1022,), (438, 79), (438,))

In [41]:
data.shape

(1460, 81)

In [30]:
data[['LotArea', 'GrLivArea']].head()

   LotArea  GrLivArea
0     8450       1710
1     9600       1262
2    11250       1786
3     9550       1717
4    14260       2198

In [32]:
train_t.head()

       LotArea  GrLivArea
64    9.145802   7.617760
682   7.967973   7.163172
960   8.882808   6.754604
1384  9.111624   7.137278
1100  9.035987   6.082219

In [33]:
test_t.head()

       LotArea  GrLivArea
529  10.394151   7.830028
491   9.157994   7.363914
459   8.855806   7.092574
279   9.210840   7.611842
655   7.426549   6.995766

#### Discretization using `KBinsDiscretizer`

In [34]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import KBinsDiscretizer
 
# Load dataset
data = data = pd.read_csv('datasets/train.csv')
 
# Separate into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    data.drop(['Id', 'SalePrice'], axis=1),
    data['SalePrice'],
    test_size=0.3,
    random_state=0
    )
 
# set up the discretisation transformer
disc = KBinsDiscretizer(n_bins=10, strategy='quantile')
 
# fit the transformer
disc.fit(X_train[['LotArea', 'GrLivArea']])
 
# transform the data
train_t = disc.transform(X_train[['LotArea', 'GrLivArea']])
test_t = disc.transform(X_test[['LotArea', 'GrLivArea']])

In [35]:
data[['LotArea', 'GrLivArea']].head()

   LotArea  GrLivArea
0     8450       1710
1     9600       1262
2    11250       1786
3     9550       1717
4    14260       2198

In [40]:
train_t

<1022x20 sparse matrix of type '<class 'numpy.float64'>'
	with 2044 stored elements in Compressed Sparse Row format>

In [38]:
train_t.toarray()

array([[0., 0., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [39]:
test_t.toarray()

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [ ]:
from sklearn.p